<h1>Editing {{user.username}}'s profile</h1>

<form method="POST" action="/profile/edit">
  <label>New username:</label>
  <input type="text" name="username" required="true" value="{{user.username}}" />
  <button type="submit">Save changes</button>
  {{#if error}}
    <p style="color: red">{{error}}</p>
  {{/if}}
</form>