<h1>{{username}}'s profile</h1>
<p>Email: {{email}}</p>
<a href="/">Back Home</a>
<a href="/profile/edit">Edit profile</a>
<form action="/auth/logout" method="POST">
  <button type="submit">Logout</button>
</form>